@charset "utf-8"; 

h1{
color: #fff;
padding: 0.5em;
background: #444;
vertical-align: middle;
border-radius: 25px 0px 0px 25px;
}

h1:before {
content: '●';
color: white;
margin-right: 8px;
}

body{
 font-size:0.8em;
 background-color:rgb(248,248,248);
}

a{
 color:black;

}
a:link {
 color: #000;
}
a:visited {
 color: #777;
 }
a:hover {
 color: #22f;
}
a:active {
 color: #22f;
}

iframe.channel_thumb{
 margin:5px;
 width:312px;
 height:176px;
 border:1px black solid;
}

div.channel_box iframe.channel_thumb{
}

div.channel_box iframe.channel_thumb::after{
 content:"\A";
 white-space:pre;
}

div.channel_box{
 background-color:#fff;
 margin:10px;
 box-shadow: 0 0 8px rgba(0,0,0,0.2);
 width:322px;
 padding:5px;
 display: inline-block;
 column-break-inside: avoid;
 -webkit-column-break-inside: avoid;
 -moz-column-break-inside: avoid;
}

div.form_add{
 box-shadow: 0 0 8px rgba(0,0,0,0.2);
 background-color:#fff;
 margin:10px;
 padding:5px;
}

div.channel_group{
 column-width: 352px;
 column-gap: 15px;
 column-fill: auto;
}

input[type=submit]{
 border: 1px solid black;
 margin: 5px;
 padding: 5px;
 background:#333;
 color:white;
}
input.delete[type=submit]:hover{
 background:#800;
 color:white;
}

input[type=submit]:hover{
 background:#888;
 color:white;
}

